#main-title {
    background-color: palegoldenrod;
    font-family: "Brush Script MT";
    font-size: 50px;
    text-align: center;
}

#boyardee {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}

.recipe-link {
    text-align: center;
    font-family: "Courier New";
    font-size: 22px;
}

.content {
    font-family: "Courier New";
}

.recipe-title {
    background-color: moccasin;
    font-family: "Brush Script MT";
    font-size: 48px;
}